body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#logoContainer {
  position: absolute;
  bottom: 10px;
  left: 30px;
  padding: 20px;
  transition: all 1s ease;
}

#logo {
  width: 300px;
  cursor: pointer;
}

#logoText {
  display: none;
  color: rgb(172, 172, 172);
  margin-top: 10px;
  width: 800px;
}

#logoText.visible {
  display: block;
}

.hidden {
  display: none;
}

#movable,
#fixed {
  width: 30px;
  height: 80px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 10px; /* Ecken abgerundet */
  display: flex; /* Flexbox für Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  text-align: center; /* Text zentrieren, falls er mehrzeilig wird */
  color: black; /* Textfarbe festlegen */
  font-size: 13px; /* Schriftgröße anpassen */
  font-weight: bold;
  writing-mode: vertical-lr; /* Text von oben nach unten */
  transform: rotate(180deg); /* Text umdrehen, damit er von oben beginnt */
  user-select: none; /* Verhindert Textauswahl */
}

#fixed {
  left: 400px;
  top: 300px;
  z-index: 2;
}

#movable {
  left: 800px;
  top: 300px;
  z-index: 4;
}

.circle {
  border-radius: 50%;
  position: absolute;
  pointer-events: none; /* Ignore mouse events */
  border-style: solid; /* Stil für die Grenze hinzugefügt */
  z-index: 1; /* Z-index gesenkt, um Kreise hinter Rechtecke zu bringen */
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
}

.pulse {
  animation: pulse 1s infinite;
}

.info {
  position: absolute;
  right: 80px;
  top: 150px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.8;
  color: white;
  font-weight: light;
  margin-bottom: 100px;
}

.title {
  position: absolute;
  right: 80px;
  top: 0px;
  width: 500px;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 1.5;
  color: white;
}

.userinfo {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 800px;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
  color: white;
}
